.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 3vh 3vh;
  height: 30%;
}

.beer-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 15px;
  height: 400px;
  background-color: white;
  &__name {
    font-size: 21px;
    font-weight: bold;
    padding-top: 2px;
  }
  
  img {
    height: 40%;
  }
  &__list {
    list-style-type: none;
    padding: 0;

    &__pairing-header {
      font-weight: bold;
      padding-top: 10px;
    }
  }
}